<!DOCTYPE html>
<html>
  <head>
    <title>Bob's Burger!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="../../assets/css/styles.css">
    <link href="../../assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  </head>
  <body>
  
    <div class="container">
      <br>
      <center>
        <div class="row">
          <img src="/assets/img/BobsBurgers02.png">
        </div>
      </center>

      <center>
        <h1 class="title-img"><img src="/assets/img/title.png"></h1>
      </center>
      
      <br>
      
      <!-- Content from index.handlebars -->
      {{{body}}}

      <br><br>

      <!-- Input New Burgers -->
      <form action="new" method="POST"> 
        <div class="row">
          <!-- Empty Div to help center textarea -->
          <div class="col-md-3"></div> 

          <!-- Burger Input Box -->
          <div class="form-group col-md-6">
            <center><label for="new_burger" class="order-title">Create Your Own Burger!</label></center>
            <textarea class="form-control" columns="8" rows="4" id="new_burger" name="burger_name"></textarea>
          </div>

          <!-- Empty Div to help center textarea -->
          <div class="col-md-3"></div> 
        </div>
      
        <center>
          <button id="submit-button" type="submit" class="btn btn-danger">Place Order</button>
        </center>

      </form>

      <br>

    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </body>
</html>